* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-image: url(pics/walpaper2.jpg);
}

img {
  max-width: 80%;
  height: auto;
}

header {
  grid-area: header;
  width: 80%;
  color: white;
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
}

.headerimg {
  text-align: center;
}
.headerimg img {
  text-align: center;
  max-width: 100%;
}

.headerimg p {
  position: absolute;
  top: 160px;
  left: 70px;
  font-size: 90%;
  background: url(pics/walpaper2.jpg) -20px -20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Imbue", serif;
  font-size: 500%;
  color: #fff659;
}

header .toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  font-size: 25px;
  color: rgba(247, 247, 247, 0.935);
  opacity: 0.6;
  top: 2rem;
  left: 1rem;
  border: none;
  position: absolute;
  padding: 0;
}

h2 {
  font-size: 200%;
  color: rgba(80, 4, 4, 0.935);
  text-align: center;
  font-weight: bold;
}
h3 {
  font-size: 170%;
  color: rgba(80, 4, 4, 0.935);
  text-align: center;
  font-weight: bold;
}

#toggle {
  position: fixed;
}

nav {
  grid-area: navbar;
  max-width: 100%;
  width: 200px;
  height: 100vh;
  background: no-repeat 5px 0px;
  background-color: rgba(80, 4, 4, 0.3);
  color: rgba(133, 34, 34, 0.584);
  font-size: 120%;
  position: fixed;
  top: 30px;
  overflow: scroll;
}

.nav-closed {
  z-index: -10;
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
}

.nav {
  z-index: 100;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.close-nav-btn {
  background-color: transparent;
  font-size: 25px;
  position: absolute;
  color: rgba(247, 247, 247, 0.935);
  top: 0;
  right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  text-align: left;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: rgba(249, 233, 233);
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
  transition: 100ms;
}

.wrapper {
  display: grid;
  max-width: 80%;
  margin: 0 auto;

  grid-template-columns: 1fr;
  grid-template-areas:
    "costuming "
    "repairs "
    "events "
    "lessons "
    "upholstery"
    "musicians"
    "commercial"
    "about "
    "footer ";
  justify-content: center;
}

#costuming {
  grid-area: costuming;

  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
#costuming p {
  text-align: left;
}

#costumes {
  margin-top: 20px;

  text-align: center;
}
#costumes img {
  justify-self: center;
  margin: 10px;
}

#headpieces {
  margin-top: 50px;
}
#headpieces img {
  justify-self: center;
  margin: 10px;
}

.hatcontainer {
  width: 78%;

  margin: auto;
  overflow: hidden;
  z-index: -1;
  position: relative;
}
.hatslide {
  display: flex;
  width: 100%;
  height: 400px;
  z-index: -1;
}
.hatslide > img {
  max-width: 100%;
  height: auto;
  margin: 0px;
  z-index: -1;
}
#prevButton {
  position: absolute;
  top: 50%;
  left: 5%;

  z-index: 100;
}
#nextButton {
  position: absolute;
  top: 50%;
  right: 5%;

  z-index: 100;
}
#repairs {
  grid-area: repairs;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
}
#repairs h1 {
  font-size: 200%;
  color: rgba(247, 247, 247, 0.935);
  text-align: center;
}
#repairs img {
  justify-self: center;
  margin: 10px;
}

#events {
  grid-area: events;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
}
#events h1 {
  font-size: 200%;
  color: rgba(247, 247, 247, 0.935);
  text-align: center;
}
#events img {
  justify-self: center;
  margin: 20px;
  max-width: 300px;
}

#lessons {
  grid-area: lessons;
  text-align: center;
  justify-self: center;
  margin-top: 50px;
  padding: 10px;
}
#lessons h1 {
  font-size: 200%;
  color: rgba(247, 247, 247, 0.935);
  text-align: center;
}
#lessons img {
  justify-self: center;
  margin: 20px;
}

#upholstery {
  grid-area: upholstery;
  text-align: center;
  justify-self: center;
  margin-top: 50px;
}

#upholstery img {
  justify-self: center;
  margin: 20px;
  max-width: 70%;
}

#musicians {
  grid-area: musicians;
  text-align: center;
  justify-self: center;
  margin-top: 50px;
}

#musicians img {
  justify-self: center;
  margin: 20px;
}

#commercial {
  grid-area: commercial;
  text-align: center;

  margin-top: 50px;
}

#commercial img {
  margin: 20px;
}
#about {
  grid-area: about;
  width: 80%;

  margin: 0 auto;
}
#about h2 {
  margin-top: 70px;
}
.aboutcontent {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgba(247, 247, 247, 0.935);
}
#contact {
  color: #fff659;
}

.aboutcontent img {
  max-width: 80%;
  padding: 10px;
}

footer {
  grid-area: footer;
  padding: 5px;
  width: 80%;
  margin-top: 70px;
  justify-self: center;

  text-align: center;
  background-color: rgba(110, 4, 4, 0.935);
}

@media screen and (min-width: 500px) {
  img {
    max-width: 90%;
    height: auto;
  }

  .wrapper {
    display: grid;
    gap: 20px;

    margin: 0 auto;
    max-width: 100%;
    width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "navbar navbar navbar"
      "costuming costuming costuming"
      "repairs repairs repairs"
      "events events events"
      "lessons lessons lessons"
      "upholstery upholstery upholstery"
      "musicians musicians musicians"
      "commercial commercial commercial"
      "about about about"
      "footer footer footer";

    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
  }

  header .toggle {
    right: 1rem;
  }
  .headerimg p {
    top: 160px;
    left: 90px;
    font-size: 100%;
  }
  .aboutcontent img {
    max-width: 60%;
  }
}

@media screen and (min-width: 700px) {
  .headerimg p {
    position: absolute;
    top: 21vw;
    left: 13vw;

    font-size: 30px;
    font-weight: 900;
  }

  .hatcontainer {
    width: 30%;
    padding: 0;

    overflow: hidden;
    border: none;
  }
  .hatslide {
    display: flex;
    margin: 0;
    width: 100%;
  }
  .hatslide img {
    margin: 0;
  }
}
